html {
    background-color: #21556d;
}

.partes_auto{
    max-width: 80%;
    width: 60%; 
    height: auto;
    
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 20%;
    border-radius: 70px;
}